* {
    font-family: 'Nunito Sans', sans-serif;
}

body{
    margin: 20px 300px;
}

h1 {
    text-align: center;
}

.section {
    border: 1px solid skyblue;
    padding: 10px;
}

.colorbox {
    text-align: center;
    width: 31%;
    display: inline-block;
    padding: 2px;
}

#blue1 {
    background-color: #effcfd;
}

#blue2 {
    background-color: #d0e0e7;
}

#blue3 {
    background-color: #7ebdbf;
}

#brown1 {
    background-color: #e1d0a5;
}

#brown2 {
    background-color: #fbf3d5;
}

#brown3 {
    background-color: #fbf7ee;
}